.header{
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header,.footer {
    
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-text {
    /*Roboto Bold*/
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-1 {
    color:#F9FAF8;
    background-color: #1F2937;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}
