.header {
    background-color: #1F2937;
    height: 72px;
    display: flex;
    align-items: center;
    color: #F9FAF8;
    justify-content: space-between;
    padding: 5px 200px;
}

.header-text {
    /*Roboto Bold*/
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}