.header, .section-1, .section-2, .section-3, .section-4, .image, .banner, .footer{
    padding: 0px 200px;
}
.header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding-bottom: 0px;
}

.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header,.footer {
    
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-text {
    /*Roboto Bold*/
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-1 {
    color:#F9FAF8;
    background-color: #1F2937;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
